<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of (itemsIngresoEgreso | ordenIngreso)">
              <td>{{item.descripcion}}</td>
              <td>{{item.monto}}</td>
              <td [class.text-success]="item.tipo === 'ingreso'" [class.text-danger]="item.tipo === 'egreso'">
                {{item.tipo | titlecase}}</td>
              <td>
                <button type="button" class="btn btn-danger" (click)="borrar(item.id)">
                  <i class="fa fa-trash"></i>
                  <i class="fa fa-spin fa-sync" *ngIf="cargando"></i>
                  {{ cargando ? 'Borrando...'  :'Borrar' }}
                </button>
              </td>
            </tr>
          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>